snippet soff "start ignore formatting" bA
-- stylua: ignore start
endsnippet

snippet son "end ignore formatting" bA
-- stylua: ignore end
endsnippet

snippet signore "stylua ignore parts of a file" bA
-- stylua: ignore
endsnippet
