snippet callout "" bA
<Callout>$0</Callout>
endsnippet

snippet credits "Bilibili Credit" bA
<Credit platform="bilibili" author="${2:Author}" url="https://www.bilibili.com/video/${1:BV}" title="$1" />$0
endsnippet
