snippet ;rust "Rust icon" bA
🦀
endsnippet

snippet pangxie "Rust icon" bA
🦀
endsnippet

snippet main "fn main" bA
fn main() {
	$0
}
endsnippet

snippet ** "inline comment" wA
/* $0 */
endsnippet

snippet justfortest "#![allow(unused)]" bA
#![allow(unused)]
endsnippet

snippet deadcode "#![allow(dead_code)]" bA
#![allow(dead_code)]
endsnippet

snippet log "println!()" bA
println!("$0");
endsnippet
