snippet runsh "run.sh" b
#!/bin/bash

BUILD="build"
DEBUGGER="gdb"
TARGET="sandbox"

if [ "\$1" = "debug" ]; then
  ${DEBUGGER} ./build/${TARGET}
else
  cmake --build ${BUILD} -j$(nproc) && ./${BUILD}/${TARGET}
fi

# vim: ft=sh ts=2 sw=2 et
endsnippet

snippet ags "$@" wA
"$@"
endsnippet

snippet "ag(\d+)" "$_i" Ar
`!p snip.rv = "\"$" + match.group(1) + "\""`
endsnippet

snippet btw "Description" bA
I'm using arch btw.
endsnippet
